# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.log
*.tmp
*.bak

# Ignore JSON and PNG files
*.json
*.png

# IDE-specific files
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

